@import url('http://fonts.cdnfonts.com/css/cocogoose');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "COCOGOOSE", sans-serif;
}

.flex {
  display: flex;
}

.home-intro {
  background-image: url(./capstone_assets/mobileBCK.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding-top: 77px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  margin-top: 25px;
  margin-left: 30px;
}

.hamburger div {
  width: 35px;
  height: 7px;
  background-color: #606060;
}

.mobile-paragraph {
  font-family: 'Lato', sans-serif;
  border: 3px solid #fff;
  margin: 20px;
  padding: 11px;
  color: #606060;
  font-weight: 600;
  font-size: 16px;
  margin-top: 0;
}

.intro-heading {
  margin: 20px;
  margin-bottom: 0;
}

.intro-heading h1 {
  background: -webkit-linear-gradient(#ef7453, #a20202);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
}

.intro-heading h2 {
  margin-bottom: 10px;
  font-family: 'Lato', sans-serif;
  color: #ec5242;
  font-weight: 500;
}

.mobile-date {
  color: #606060;
  margin-left: 20px;
  margin-right: 20px;
}

.mobile-location {
  font-family: 'Lato', sans-serif;
  padding-left: 20px;
  padding-top: 10px;
  color: #606060;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 50px;
}

/* Mobile Menu Style */

.mobile-nav {
  display: none;
  position: absolute;
  background-color: #d3d3d3;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 65px 35px 0 30px;
}

.mobile-nav img {
  height: 50px;
  display: block;
  margin-right: auto;
  position: absolute;
  top: 25px;
  left: 10px;
}

.mobile-nav ul {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: auto;
}

.mobile-nav ul li {
  list-style: none;
}

.mobile-nav ul li a {
  color: #ec5242;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
}

.mainprogram {
  background-image: url(./capstone_assets/mainprogram.png);
  background-color: #272a31;
  flex-direction: column;
  padding-bottom: 50px;
}

.header {
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 30px;
}

.header h3 {
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
}

.header hr {
  border: 1px solid #ec5242;
  width: 50px;
}

.activities {
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
  padding: 20px;
}

.activity {
  padding: 20px;
  background-color: #8e8e8e30;
  align-items: center;
  gap: 100px;
}

.imgiconwrapper {
  align-items: center;
  gap: 30px;
  width: 30%;
}

.activity h3 {
  color: #ec5242;
  font-weight: 100;
}

.activity p {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 300;
}

.mainprogram button {
  font-family: 'Lato', sans-serif;
  color: #fff;
  background-color: #ec5242;
  text-align: center;
  align-self: center;
  margin-top: 30px;
  padding: 30px 70px;
  font-size: 22px;
  font-weight: 600;
  border: 2px solid #ec5242;
}

.speakers {
  flex-direction: column;
}

.speakersHeader {
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.speakersHeader h3 {
  font-family: 'Lato', sans-serif;
  color: #272a31;
  font-size: 24px;
  font-weight: 600;
}

.speakersHeader hr {
  border: 1px solid #ec5242;
  width: 50px;
}

.speaker {
  background-image: url(./capstone_assets/chessboard.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 15%;
  margin: 50px 20px 0 20px;
}

.speaker img {
  width: 185px;
  padding: 25px;
}

.speakerInfo {
  flex-direction: column;
  gap: 7px;
}

.speakerInfo h2 {
  font-family: 'Lato', sans-serif;
  color: #14161a;
  font-weight: 800;
  font-size: 21px;
}

.speakerInfo span {
  font-style: italic;
  font-family: 'Lato', sans-serif;
  color: #ec5242;
  font-weight: 500;
  font-size: 16px;
}

.speakerInfo hr {
  width: 30px;
}

.speakerInfo p {
  font-family: 'Lato', sans-serif;
  color: #3a3a3a;
  font-weight: 600;
  font-size: 14px;
}

.speakers button {
  font-family: 'Lato', sans-serif;
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 2px solid #d3d3d3;
  background-color: #fff;
  text-align: center;
  padding: 15px 120px;
  color: #363636;
  font-size: 16px;
  font-weight: 600;
  margin: 20px 20px 20px 20px;
}

.speakers button img {
  width: 15px;
}

.active {
  display: flex;
}

.hide {
  display: none;
}
